<a href="https://colab.research.google.com/github/arad4228/BigData_A.I/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%9D%91%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(
    np.random.rand(10,10))

In [ ]:
index = pd.date_range("2000-01-01", periods=10)
df = pd.DataFrame(np.random.randn(10,3), index, columns= ["a","b","c"])

In [ ]:
df1=pd.DataFrame(
    {"A":[1.0,np.nan, 3.0, 5.0,np.nan],"B":[np.nan, 2.0, 3.0, np.nan, 6.0]}
)

In [ ]:
df2 = pd.DataFrame(
    [[5.0, 2.0, 5.0, np.nan, 3.0, 7.0], 
     [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0]], 
     columns=["A","B","C","D","E","F"], 
     index=["a","b"]
)

In [ ]:
df2 = pd.DataFrame(
    [[1.0, np.nan],
     [np.nan, 2.0],
     [3.0, 3.0],
     [5.0, np.nan],
     [np.nan, 6.0]],
     columns= ["A","B"]
)

In [ ]:
df1 = pd.DataFrame(
    {
    "One": pd.Series(np.random.randn(3), index=["a","b","c"]),
    "Two": pd.Series(np.random.randn(4), index=["a","b","c","d"]),
    "Three": pd.Series(np.random.randn(3), index=["b","c","d"])
  }
)

In [ ]:
df1

        One       Two     Three
a  1.619834 -0.313525       NaN
b  0.384095  0.208453 -0.605871
c -1.518150 -0.910578 -0.530262
d       NaN -0.690031 -1.105501

In [ ]:
df = pd.DataFrame(
    np.random.randn(10,4),
    index=pd.date_range('2000-01-01', periods=10, freq='Y'),
    columns=["A","B","C","D"]
)

In [ ]:
df.index

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df['A']

2000-12-31    0.252024
2001-12-31    1.446463
2002-12-31   -0.472392
2003-12-31   -0.388809
2004-12-31    0.738430
2005-12-31   -2.893921
2006-12-31   -0.495944
2007-12-31    1.123232
2008-12-31   -0.095777
2009-12-31    0.297565
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df[['A','C']]

                   A         C
2000-12-31  0.252024  0.910966
2001-12-31  1.446463  0.034312
2002-12-31 -0.472392  0.217701
2003-12-31 -0.388809 -0.118723
2004-12-31  0.738430  0.259963
2005-12-31 -2.893921 -0.118720
2006-12-31 -0.495944  0.646078
2007-12-31  1.123232  2.215504
2008-12-31 -0.095777  0.220695
2009-12-31  0.297565  1.250895

In [ ]:
df.loc[:,'A']

2000-12-31    0.252024
2001-12-31    1.446463
2002-12-31   -0.472392
2003-12-31   -0.388809
2004-12-31    0.738430
2005-12-31   -2.893921
2006-12-31   -0.495944
2007-12-31    1.123232
2008-12-31   -0.095777
2009-12-31    0.297565
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
date=pd.date_range('2000-1-1', periods=10, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=10), index=date),
        "B":pd.Series(np.random.randint(0,10,size=10), index=date),
        "C":pd.Series(np.random.randint(0,10,size=10), index=date),
        "D":pd.Series(np.random.randint(0,10,size=10), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  5  7  1  8
2001-12-31  3  1  0  6
2002-12-31  9  6  0  4
2003-12-31  0  3  4  3
2004-12-31  2  8  4  4
2005-12-31  9  8  8  4
2006-12-31  2  8  0  4
2007-12-31  0  4  9  2
2008-12-31  5  4  0  1
2009-12-31  5  6  7  4

In [ ]:
cut1 =pd.cut(df['A'],4)

In [ ]:
pd.value_counts(cut1)

(-0.009, 2.25]    4
(4.5, 6.75]       3
(6.75, 9.0]       2
(2.25, 4.5]       1
Name: A, dtype: int64